{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar estudiante</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    {{ form_end(form) }}

    <a href="{{ path('app_students_list') }}" class="btn btn-secondary">Volver a la lista</a>
{% endblock %}
