{% extends 'base.html.twig' %}

{% block title %}Lista de estudiantes{% endblock %}

{% block body %}
<h1>Lista de estudiantes</h1>

{# Mostrar mensajes flash si existen #}
{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">{{ flash_message }}</div>
{% endfor %}
{% for flash_message in app.flashes('error') %}
    <div class="alert alert-danger">{{ flash_message }}</div>
{% endfor %}

<div class="input-group mb-3">
    <form id="addStudentForm" class="input-group mb-3">
        <input type="text" name="nombre" class="form-control" required placeholder="Nombre del estudiante" aria-label="Nombre del estudiante" id="studentNameInput" required>
        <input type="text" name="cedula" class="form-control" required placeholder="Cédula del estudiante" aria-label="Cédula del estudiante" id="studentCedulaInput" required>
        <button type="submit" class="btn btn-success">Agregar</button>
    </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Acciones</th> <!-- Columna de acciones -->
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('peticiones') }}
    {{ encore_entry_script_tags('students') }}

{% endblock %}