{% extends 'base.html.twig' %}

{% block title %}Menú principal{% endblock %}

{% block body %}
<h1>Bienvenido al Menú Principal</h1>
<!-- Aquí puedes agregar el contenido de las estadísticas -->
{% endblock %}

