{% extends 'base.html.twig' %}

{% block title %}Menú Principal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <header class="bg-dark text-white text-center py-3">
        <h1>Estadísticas de la Biblioteca</h1>
        <button onclick="window.print()" class="btn btn-primary mt-3">Imprimir Estadísticas</button>
    </header>

    <section class="estadisticas row mt-4">
        <article class="grafico col-md-6 col-lg-4 mb-4">
            <header></header>
            <canvas id="graficoGeneros"></canvas>
        </article>
        <article class="grafico col-md-6 col-lg-4 mb-4">
            <header></header>
            <canvas id="graficoLibros"></canvas>
        </article>
        <article class="grafico col-md-6 col-lg-4 mb-4">
            <header></header>
            <canvas id="graficoAutores"></canvas>
        </article>
        <article class="grafico col-md-6 col-lg-4 mb-4">
            <header></header>
            <canvas id="graficoEstudiantes"></canvas>
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('estadisticas') }}
{% endblock %}
