{% extends 'base.html.twig' %}

{% block title %}Menú Principal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <header class="bg-secondary text-white text-center py-5" style="background-color: var(--color-quinary);">
        <h1 class="display-4">Estadísticas de la Biblioteca</h1>
        
        <button onclick="window.print()" class="btn btn-outline-light mt-4">Imprimir Estadísticas</button>
    </header>

    <section class="estadisticas row justify-content-center mt-4">
        <div class="col-md-6 mb-4 d-flex justify-content-center">
            <article class="grafico">
                <header></header>
                <canvas id="graficoGeneros" style="width: 100%; height: 400px;"></canvas>
            </article>
        </div>
        <div class="col-md-6 mb-4 d-flex justify-content-center">
            <article class="grafico">
                <header></header>
                <canvas id="graficoLibros" style="width: 100%; height: 400px;"></canvas>
            </article>
        </div>
        <div class="col-md-6 mb-4 d-flex justify-content-center">
            <article class="grafico">
                <header></header>
                <canvas id="graficoAutores" style="width: 100%; height: 400px;"></canvas>
            </article>
        </div>
        <div class="col-md-6 mb-4 d-flex justify-content-center">
            <article class="grafico">
                <header></header>
                <canvas id="graficoEstudiantes" style="width: 100%; height: 400px;"></canvas>
            </article>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
   
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('estadisticas') }}

{% endblock %}
